.menu {
  outline: none;
  position: relative;
  background: none;
  border: none;
  
  padding: 1.0875rem;
  cursor: pointer;

  background: var(--prim);

  border-radius: 100px;

  &:hover {
    background: var(--prim-l);

    &>.menuIcon {
      transform: scale(1.2);
      color: var(--sec-l);
    }
  }
  
  .menuIcon {
    transform: scale(1);
    transition: transform 250ms ease-in-out;
  }

  .menu-options {
    background: radial-gradient(var(--prim) 0%, var(--prim-l) 80%);

    position: absolute;
    right: 0;
    top: 100%;

    overflow: hidden;
    pointer-events: none;
    
    border-radius: 50% 0 50% 50%;

    // @media (min-width: 960px) {
    //   border-radius: 50%;
    //   top: calc(100% - 10px);
    // }

    .menu-opt {
      position: absolute;
      display: inline-block;
      border-radius: 10000px;

      font-size: 1.25em;
      cursor: pointer;

      a {
        font-weight: bold;
        text-decoration: none;
        color: var(--text);
      }

      .radial-button {
        border: 2px solid var(--sec);
        background: var(--prim-l);
        // background: radial-gradient(var(--prim-l), var(--prim));
        color: var(--sec);
        border-radius: 50%;
        padding: 10px 15px;

        &.active {
          border-width: 4px;
        }
      }

      &:hover {
        box-shadow: 0 0 10px 2px var(--sec-l);

        .menuIcon {
          transform: scale(1.2);
          color: var(--sec-l);
        }
      }
    }
  }
  
  &.open { 
    background: var(--prim-l);
    border-color: var(--prim-l);

    &>.menuIcon {
      color: var(--sec-l);
    }

    .menu-options {
      pointer-events: all;
    }
  }

  &>.menuIcon {
    margin: 0 3.5px 0;
  }

  .menuIcon {
    color: var(--sec);
  }
}