.menu {
  outline: none;
  position: relative;
  background: none;
  border: none;

  padding: 0.5rem;
  cursor: pointer;

  background: var(--background);

  border-radius: 100px;

  border: 1px solid var(--link);
  box-shadow: 0 0 8px #0006;

  &:hover {
    background: var(--content);

    & > .menuIcon {
      transform: scale(1.2);
      color: var(--link);
    }
  }

  .menuIcon {
    transform: scale(1);
    transition: transform 250ms ease-in-out;
  }

  .menu-options {
    background: radial-gradient(var(--prim) 0%, var(--prim-l) 80%);

    position: absolute;
    right: 0;
    top: 100%;

    overflow: hidden;
    pointer-events: none;

    border-radius: 50% 0 50% 50%;

    // @media (min-width: 960px) {
    //   border-radius: 50%;
    //   top: calc(100% - 10px);
    // }

    .menu-opt {
      position: absolute;
      display: inline-block;
      border-radius: 10000px;

      font-size: 1.25em;
      cursor: pointer;

      a {
        font-weight: bold;
        text-decoration: none;
        color: var(--text);
      }

      // &>.menuIcon, &>a {
      // }

      .radial-button {
        border: 2px solid var(--link);
        background: var(--background);
        // background: radial-gradient(var(--prim-l), var(--prim));
        color: var(--link);
        border-radius: 50%;

        display: inline-block;
        padding: 8px 13px;

        &.active {
          border-width: 6px;
          background: var(--content);
        }
      }

      &:hover {
        box-shadow: 0 0 10px 2px var(--link);

        .menuIcon {
          transform: scale(1.2);
        }
      }
    }
  }

  &.open {
    background: var(--content);
    border-bottom-color: var(--content);

    & > .menuIcon {
      color: var(--link);
    }

    .menu-options {
      pointer-events: all;
    }
  }

  & > .menuIcon {
    margin: 0 3.5px 0;
  }

  .menuIcon {
    color: var(--link);
  }
}
