header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  // border-bottom: 4px solid var(--sec-d);
}

.header-wrapper {
  position: relative;


  margin: 0 auto;
  padding: 10px 10px;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .hiding {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    color: var(--sec);
    background: var(--prim);
    box-shadow: 0 0 10px 10px var(--prim);
  }
}