// scheme 1: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=37474F&secondary.color=80CBC4
// scheme 2: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=E0E0E0&secondary.color=FF8F00
// scheme 3: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=4DB6AC&secondary.color=A5D6A7

$background: (
  dark: #1b1b1b,
  light: #f0f0f0,
);

$text: (
  dark: #e0e0e0,
  light: #263238,
);

$text-emph: (
  dark: #f0f0f0,
  light: #1b1b1b,
);

$link: (
  dark: #81d4fa,
  light: #005cb2,
);

$accent: (
  dark: #e57373,
  light: #af4448,
);

$accent-alt: (
  dark: #ffb74d,
  light: #f57c00,
);

$content: (
  dark: #424242,
  light: #fff,
);

$prim: (
  1: #263238,
  2: #e0e0e0,
  3: #212121,
  4: #e8eaf6,
);

$prim-l: (
  1: #4f5b62,
  2: #ffffff,
  3: #484848,
  4: #ffffff,
);

$prim-d: (
  1: #000a12,
  2: #aeaeae,
  3: #000000,
  4: #b6b8c3,
);

$sec: (
  1: #80cbc4,
  2: #ff8f00,
  3: #9575cd,
  4: #607d8b,
);

$sec-l: (
  1: #b2fef7,
  2: #ffc046,
  3: #c7a4ff,
  4: #8eacbb,
);

$sec-d: (
  1: #4f9a94,
  2: #c56000,
  3: #65499c,
  4: #34515e,
);

$text-old: (
  1: #fff,
  2: #000,
  3: #fff,
  4: #000a12,
);

$text-sec: (
  1: #e0e0e0,
  2: #000,
  3: #e0e0e0,
  4: #000a12,
);

// $link: (
//   1: map-get($sec, 1),
//   2: #0d47a1,
//   3: map-get($sec, 3),
//   4: map-get($sec-d, 3),
// );

@mixin scheme($count, $name) {
  .scheme#{$count} {
    --background: #{map-get($background, $name)};
    --text: #{map-get($text, $name)};
    --text-emph: #{map-get($text-emph, $name)};
    --link: #{map-get($link, $name)};

    --accent: #{map-get($accent, $name)};
    --accent-alt: #{map-get($accent-alt, $name)};
    --content: #{map-get($content, $name)};
  }
}

@mixin theme($count) {
  .scheme#{$count} {
    --prim: #{map-get($prim, $count)};
    --prim-l: #{map-get($prim-l, $count)};
    --prim-d: #{map-get($prim-d, $count)};

    --sec: #{map-get($sec, $count)};
    --sec-l: #{map-get($sec-l, $count)};
    --sec-d: #{map-get($sec-d, $count)};

    --text-old: #{map-get($text-old, $count)};
    --text-sec: #{map-get($text-sec, $count)};
    // --link: #{map-get($link, $count)};
  }
}

@include theme(1);
@include theme(2);
@include theme(3);
@include theme(4);

@include scheme(1, "dark");
@include scheme(2, "light");
@include scheme(3, "dark");
@include scheme(4, "light");

// default theme to avoid page flash on load
$defaultTheme: 3;
:root {
  --prim: #{map-get($prim, $defaultTheme)};
  --prim-l: #{map-get($prim-l, $defaultTheme)};
  --prim-d: #{map-get($prim-d, $defaultTheme)};

  --sec: #{map-get($sec, $defaultTheme)};
  --sec-l: #{map-get($sec-l, $defaultTheme)};
  --sec-d: #{map-get($sec-d, $defaultTheme)};

  --text: #{map-get($text, $defaultTheme)};
  --link: #{map-get($link, $defaultTheme)};
}

:export {
}

@mixin BoxShadow($dp) {
  @if $dp==0 {
    box-shadow: none;
  } @else if $dp==1 {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==3 {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  } @else if $dp==4 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  } @else if $dp==6 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  } @else if $dp==8 {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  } @else if $dp==9 {
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14),
      0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
  } @else if $dp==12 {
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
      0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  } @else if $dp==16 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  } @else if $dp==24 {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  } @else {
    @error "Invalid argument for $dp: {" + $dp + "}, look at the method definition for possible values";
  }
}
