.header-wrapper {
  position: relative;
  color: var(--text);

  .menu {
    background: none;
    border: none;
    padding: 1.45rem 1.0875rem;
    

    .menu-options {
      background: var(--prim-l);
      position: absolute;
      display: none;
      right: 0;
      top: 100%;

      .menu-opt {
        a {
          font-weight: bold;
          text-decoration: none;
          color: var(--text);
        }

        padding: 15px;
        border: 2px solid var(--sec-d);
        font-size: 1.25em;
        cursor: pointer;

        &:hover {
          background: var(--sec);
        }
      }
    }

    &:focus-within { 
      outline: none;
      background: var(--prim-l);

      .menuIcon {
        color: var(--sec-l);
      }

      .menu-options {
        display: initial;
      }
    }

    .menuIcon {
      color: var(--sec);
      cursor: pointer;

      &:hover {
        color: var(--sec-l);
      }
    }
  }
}