.Typography {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Typography.default {
  color: #e0e0e0;
}

.Typography.special {
  font-family: 'Lobster';
  font-size: 32px;
}

.Typography.heading {
  font-size: 36px;
  font-weight: bold;

  color: var(--purple);
  margin: 16px 0 8px;
}

.Typography.subheading {
  font-size: 32px;

  color: var(--cyan);
  margin: 8px 0 4px;
}

.Typography.subsubheading {
  font-size: 26px;

  margin: 4px 0 2px;
  color: white;
}

.Typography.link {
  font-size: 18px;
  color: #a0a0a0;

  display: inline-block;

  cursor: pointer;
  text-decoration: underline;
}

.Typography.link:hover {
  color: var(--cyan);
}

.Typography.link i {
  color: var(--cyan);
}

.Typography.caption {
  font-size: 18px;
  color: #757981;
}

.Typography.subcaption {
  font-size: 16px;
  color: #5C6068;
}

.Typography.award {
  font-size: 14px;
  color: var(--cyan);
}

.Typography.award-large {
  font-size: 20px;
  color: var(--cyan);
}

.Typography.default {
  font-size: 22px;
  text-align: justify;
}

.Typography.default:not(:last-of-type) {
  margin-bottom: 16px;
}

.Typography.default:not(:first-of-type) {
  margin-top: 8px;
}

.Typography.default strong,
.Typography.subsubheading strong {
  color: var(--purple);
}